footer {
  background-color: white;
  padding: 1.5rem 0;
}

footer .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
}

footer .box .social-media a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: var(--font);
  font-weight: 500;
  font-size: 1.3rem;
}

footer .box .social-media a img {
  width: 41px;
  height: 41px;
}

footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  font-weight: 600;
}
