nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.8s, color 1.5s, padding 0.5s;
}

nav .nav-links {
  display: flex;
}

nav .nav-links a {
  font-size: 1.2rem;
  font-weight: 500;
}

nav .nav-links a.active {
  color: var(--active);
  font-weight: 600;
  text-decoration: underline;
}

/* pc & laptop */

@media screen and (min-width: 600px) {
  nav {
    top: 0;
    left: 0;
    right: 0;
    padding: 0.6rem 3rem;
  }
  nav .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  nav .brand span {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
  }

  nav .nav-links {
    gap: 3rem;
  }

  nav .nav-links a {
    color: white;
  }

  nav .nav-links a.active {
    color: var(--active);
    font-weight: 600;
    text-decoration: underline;
  }

  nav.scrolled {
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem 3rem;
  }

  nav.scrolled a,
  nav.scrolled span {
    color: var(--font);
  }
}

/* pc & laptop */

/* tablet & mobile */

@media screen and (max-width: 600px) {
  nav {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
  }

  nav .brand {
    display: none;
  }

  nav .nav-links {
    display: flex;
    margin: 0.5rem auto;
    gap: 1rem;
  }

  nav .nav-links a {
    border: 1px solid black;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    color: var(--font);
  }
}
/* tablet & mobile */
