section h1 {
  color: var(--font);
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 5rem 0;
}

/* hero section */

section.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background-image: url(./hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.hero::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

section.hero .content {
  margin: 5rem;
  width: 60%;
  z-index: 2;
}

section.hero .content img.ui {
  display: block;
}

section.hero .content span {
  color: white;
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

section.hero .content span img {
  margin-left: 0.2rem;
}

section.hero .content p {
  text-align: justify;
  color: white;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}

section.hero .content a {
  margin: auto;
  color: var(--font);
  background-color: var(--active);
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0.8rem;
  transition: background-color 0.3s, color 0.3s;
}

section.hero .content a:hover {
  background-color: var(--font);
  color: var(--active);
}

/* hero section */

/* about section */

section.about .content {
  position: relative;
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 3rem;
}

section.about .content p {
  color: var(--font);
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.5;
}

section.about .content .wrapper {
  position: relative;
  width: 80%;
  max-width: 30rem;
  padding: 0 1.5rem;
  overflow: hidden;
  margin: auto;
}

section.about .content .wrapper .slider {
  display: flex;
  gap: 2rem;
  transition: transform 0.5s ease-in-out;
}

section.about .content .wrapper .slider img {
  width: 100%;
  height: auto;
}

section.about .content .wrapper .preview {
  position: absolute;
  top: 45%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--active);
  z-index: 2;
  transition: background-color 0.3s;
}

section.about .content .wrapper .preview:hover {
  background-color: rgb(160, 149, 31);
  color: var(--active);
}

section.about .content .wrapper .preview.prev {
  left: 0;
}

section.about .content .wrapper .preview.next {
  right: 0;
}

section.about .content span.read-more-btn {
  display: none;
}

/* about section */

/* activity  section */

section.activity .schedule {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

section.activity .schedule .time .activity {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
  background-color: white;
  border-radius: 2rem;
}

section.activity .schedule .time .activity .day,
section.activity .schedule .time .activity .clock {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 2rem;
  box-sizing: border-box;
}

section.activity .schedule .time .activity .day span,
section.activity .schedule .time .activity .clock span {
  font-size: 1.3rem;
  font-weight: 600;
}

/* activity  section */

/* member section */

section.member h1 {
  margin-bottom: 2rem;
}

section.member h2 {
  color: var(--font);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

section.member .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding: 2rem;
  box-sizing: border-box;
  width: 80%;
  margin: 3rem auto;
  background-color: rgba(255, 255, 255, 0.4);
}

/* member section */

/* desktop */

@media screen and (min-width: 1200px) {
  /* hero section */

  section.hero .content span img {
    width: 5rem;
    height: 5rem;
  }

  section.hero .content p {
    width: 80%;
  }

  /* hero section */

  /* about section */

  section.about .content p {
    width: 60%;
    margin: auto;
  }

  /* about section */

  /* activity section */

  section.activity .schedule .time {
    width: 35%;
  }

  section.activity .schedule .maps {
    width: 50%;
    height: 100%;
  }

  section.activity .schedule .maps iframe {
    width: 100%;
    height: 100%;
  }

  section.activity .schedule .maps a {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--font);
  }

  section.activity .schedule .maps a:hover {
    color: blue;
    text-decoration: underline;
  }
  /* activity section */
}

/* desktop  */

/* laptop */

@media screen and (max-width: 1200px) {
  section h1 {
    font-size: 2.8rem;
    margin-top: 3rem;
  }

  /* hero section */

  section.hero .content span {
    font-size: 5rem;
  }

  section.hero .content span img {
    width: 3.8rem;
    height: 3.8rem;
  }

  section.hero .content p {
    font-size: 1.2rem;
  }

  section.hero .content a {
    font-size: 0.8rem;
  }

  /* hero section */

  /* about section */

  section.about .content {
    flex-direction: column-reverse;
    gap: 0;
  }

  section.about .content p {
    margin-top: 5rem;
  }

  /* about section */

  /* activity section */

  section.activity h1 {
    position: relative;
  }

  section.activity .schedule {
    flex-direction: column-reverse;
    margin-top: 29rem;
  }

  section.activity .schedule .time {
    width: 50%;
  }

  section.activity .schedule .maps iframe {
    width: 100%;
    height: 25rem;
  }

  /* activity section */
}

/* laptop */

/* tablet */

@media screen and (max-width: 800px) {
  /* hero section */

  section.hero {
    background-position: center;
  }

  section.hero .content img.ui {
    margin: auto;
  }

  section.hero .content {
    width: 100%;
    text-align: center;
  }

  section.hero .content p {
    text-align: center;
  }

  /* hero section */

  /* activity section */
  section.activity .schedule .time {
    width: 70%;
  }

  /* activity section */
}

/* tablet */

/* mobile */

@media screen and (max-width: 500px) {
  section h1 {
    font-size: 1.8rem;
    margin: 3rem;
  }

  /* hero section */

  section.hero {
    background-position: -40rem;
  }

  section.hero .content img.ui {
    margin-bottom: 2rem;
  }

  section.hero .content span {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }

  section.hero .content span img {
    width: 1.8rem;
    height: auto;
  }

  section.hero .content p {
    font-size: 1rem;
  }

  /* hero section */

  /* about section */

  section.about .content .wrapper {
    max-width: 30rem;
    margin-bottom: 3rem;
  }

  section.about .content .wrapper .slider {
    gap: 1rem;
  }

  section.about .content p {
    margin: 0;
  }

  section.about .content p span.read-more {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 2s ease, opacity 0.5s ease;
  }

  section.about .content p span.read-more.active {
    max-height: 100rem; /* Adjust this value to the height of your text */
    opacity: 1;
  }

  section.about .content span.read-more-btn {
    display: block;
    margin: 0.5rem 0;
    color: blue;
    font-size: 0.8rem;
    z-index: 5;
  }

  /* about section */

  /* activity section */

  section.activity .schedule .maps {
    margin: auto 1rem;
  }

  section.activity .schedule .maps a {
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 1rem;
  }

  section.activity .schedule .time {
    width: 90%;
    gap: 0;
  }

  section.activity .schedule .time .activity .day span,
  section.activity .schedule .time .activity .clock span {
    font-size: 0.8rem;
  }

  section.activity .schedule .time .activity .day img,
  section.activity .schedule .time .activity .clock img {
    width: 20px;
    height: 20px;
  }

  /* activity section */

  /* member section */

  section.member h2 {
    font-size: 1.5rem;
  }

  section.member .gallery img {
    width: 100%;
    height: auto;
  }

  /* member section */
}

/* mobile */
